footer {
  padding: 2rem;
  background-color: #edebe8;
  font-size: 14px;
}

footer a {
  text-decoration: underline;
}

footer ul li, footer p {
  font-size: 14px;
}

footer select {
  border: 0;
  margin: 1rem 0 0;
  color: var(--link-color);
  font-weight: bold;
  height: 30px;
  padding: 5px 22px;
  background: url('../../images/icons/icon-global.png') no-repeat left center transparent;
  background-size: 16px;
  position: relative;
}

select::after {
  content: 'sdfsd';
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the distance from the right as needed */
  transform: translateY(-50%);
  border: solid var(--link-color);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
}

select:focus {
  outline: none;
  border: none; 
}

footer select option {
  font-weight: bold;
}

footer .section:nth-of-type(1) div.default-content-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--link-color);
}

footer .section:nth-of-type(1) ul {
  margin: 1rem 0;
  padding: 0;
}

footer .section:nth-of-type(1) div.default-content-wrapper ul:nth-of-type(1) {
  visibility: hidden;
}

footer .section:nth-of-type(1) ul li {
  list-style-type: none;
}

footer .section:nth-of-type(2) div.default-content-wrapper {
  display: flex;
  width: 100%;
  justify-content: start;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .section:nth-of-type(2) div.default-content-wrapper p:nth-of-type(1) {
  margin-right: 2rem;
}

footer .section:nth-of-type(2) div.default-content-wrapper p:nth-of-type(2) {
  width: 70%;
}

@media screen and (width <= 768px) {
  footer .section:nth-of-type(1) div.default-content-wrapper ul:nth-of-type(1) {
    display: none;
  }

  footer .section:nth-of-type(1) div.default-content-wrapper, footer .section:nth-of-type(2) div.default-content-wrapper {
    display: block;
  }

  footer .section:nth-of-type(1) div.default-content-wrapper {
    text-align: center;
  }

  footer .section:nth-of-type(2) div.default-content-wrapper p:nth-of-type(2) {
    width: 100%;
  }

  footer select {
    float: right;
    margin-top: 0;
  }
}